body {
     
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.card {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

.form-control {
    border-radius: 10px;
    padding: 10px;
}

button {
    border-radius: 10px;
    font-weight: bold;
}

.homepage{
     min-height: 100vh; /* Full screen height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: url("rey.jpg");
    background-size:contain;
    padding: 20px;
}