{% extends "base.html" %}
{% block content %}
<div class="card p-4 shadow">
    <h3 class="mb-3 text-primary">Add Student</h3>
    <form action="/student" method="POST" class="row g-3">
        <div class="col-md-6"><input class="form-control" name="fname" placeholder="First Name" required></div>
        <div class="col-md-6"><input class="form-control" name="lname" placeholder="Last Name" required></div>
        <div class="col-md-6"><input type="date" class="form-control" name="dob" required></div>
        <div class="col-md-6"><input class="form-control" name="gender" placeholder="Gender"></div>
        <div class="col-md-6"><input class="form-control" type="email" name="email" placeholder="Email"></div>
        <div class="col-md-6"><input class="form-control" name="phone" placeholder="Phone Number"></div>
        <div class="col-12"><textarea class="form-control" name="address" placeholder="Address"></textarea></div>
        <div class="col-md-6"><input type="date" class="form-control" name="join_date"></div>
        <div class="col-md-3"><input class="form-control" name="course_id" placeholder="Course ID"></div>
        <div class="col-md-3"><input class="form-control" name="status" placeholder="Status"></div>
        <div class="col-12"><button class="btn btn-primary w-100">Add Student</button></div>
    </form>
</div>
{% endblock %}
